<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="slide navbar style.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
                    <input type="email" name="email" placeholder="email" required="">
					<input type="email" name="email" placeholder="password" required="">
					<input type="text" name="txt" placeholder="Имя" required="">
					<input type="text" name="txt" placeholder="фамилия" required="">
					<input type="text" name="txt" placeholder="Отчество" required="">
					<input type="text" name="txt" placeholder="роль" required="">
					<input type="text" name="txt" placeholder="Возраст" required="">
					<input type="text" name="txt" placeholder="пол" required="">
					<input type="text" name="txt" placeholder="номер телефона" required="">
					<input type="text" name="txt" placeholder="фотка" required="">
					<input type="text" name="txt" placeholder="школа" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
